﻿@model Vokabeltrainer_BennyLukas.Models.User
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm())
{
    <table id="tableReg">
        <tr>
            <td>
                @Html.LabelFor(p => p.Username, "Benutzername: ")
            </td>
            <td>
                @Html.TextBoxFor(p => p.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(p => p.Password, "Passwort: ")
            </td>
            <td>
                @Html.PasswordFor(p => p.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="reset" value="Abbrechen" id="btnLoginRes"/>
            </td>
            <td>
                <input type="submit" value="Weiter" id="btnLoginSub" />
            </td>
        </tr>
    </table><br /><br />
    <p>Noch kein Konto?</p>
    <span>@Html.ActionLink("Registrieren", "registration", "User")</span>
}