﻿@model Vokabeltrainer_BennyLukas.Models.User

@{
    ViewBag.Title = "Registration";
}

<h1>Benutzerregistrierung</h1>

@using (Html.BeginForm())
{
    <table id="tableReg">
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Firstname, "Vorname: ")
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Firstname)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.Firstname)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Lastname, "Nachname: ")
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Lastname)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.Lastname)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.BirthDate, "Geburtsdatum: ")
                </td>
                <td>
                    @Html.TextBoxFor(p => p.BirthDate, new { type = "date" })
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.BirthDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Gender, "Geschlecht: ")
                </td>
                <td>
                    @Html.EnumDropDownListFor(p => p.Gender)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.Gender)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.EMail, "E-Mail Adresse: ")
                </td>
                <td>
                    @Html.TextBoxFor(p => p.EMail, new { type = "email" })
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.EMail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Username, "Benutzername: ")
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Username)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.Username)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Password, "Passwort: ")
                </td>
                <td>
                    @Html.PasswordFor(p => p.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(p => p.Password)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset" value="Abbrechen" id="btnLoginRes" />
                </td>
                <td>
                    <input type="submit" value="Weiter" id="btnLoginSub" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Alle Felder sind Pflichtfelder.</td>
            </tr>
        </tfoot>
    </table><br /><br />
}

