﻿@{
    ViewBag.Title = "Imprint";
}

<h1>Impressum</h1>
<h3>Angaben zum Datenschutz laut Artikel 12ff DSGVO</h3>
<h3>Firmensitz</h3>
<p>
    Angaben gemäß E-Commerce-Gesetz (ECG)<br />
    Höhere Technische Bundeslehranstalt Anichstraße<br />
    Anichstraße 26 - 28<br />
    A-6020 Innsbruck<br />
    +43 - (0) 512 - 59717 - 0<br />
    Fax.: +43 - (0) 512 - 59717 - 72<br />
</p>
<h3>Geschäftsführer</h3>
<p>
    Egger Benjamin<br />
    benjamiegger@tsn.at
</p>
<h3>Praktikanten</h3>
<p>
    Gamsjäger Lukas<br />
    gamsjaeger@tsn.at
</p>
