﻿@{
    ViewBag.Title = "Index";
}

<h1>Herzlich Willkommen!</h1>
<img alt="workspace" src="~/Content/Images/bg01.jpg" class="indexImg"/><br /><br />
<p class="infoH">Was wir anbieten</p>
<p class="infoT">
    Herzlich Willkommen bei Vocember - der einzigen Vokabel-Trainingsumgebung im Netz, die es
    einem leicht macht, seine Vokabeln zu beherrschen! Diese Plattform ermöglicht dir, dein
    individual angefertigtes Vokabel-Profil zu erstellen und zu verwalten. Mit der dazu maßgeschneiderten Trainingsumgebung
    kannst du dann deine Vokabelkenntnisse testen.
</p><br /><br />
<p class="infoH">Was wir wollen</p>
<p class="infoT">
    Jeder, der etwas lernen muss, kennt das Problem der Motivation: Es ist stets anwesend und zudem am
    schwierigsten zu überwinden – das eigentliche Lernen scheint dagegen fast kinderleicht! Gerade Vokabeln werden
    oft als trocken und langweilig empfunden, weshalb die Motivation zum Lernen besonders schwer fällt.<br /><br />
    Und genau deshalb haben wir Vocember ins Leben gerufen! Weg von monotonen Vokabelheften und hin zu einer offenen
    und flexiblen Arbteitsumgebung, mit der sich der Lernprozess spürbar erleichtern lässt. Es geht anders! Was wir wollen:
    Spaß beim Erlernen einer Sprache!
</p><br /><br />