﻿* {
    /*border: 1px solid black;*/
    font-family: 'Century Gothic';
}

h1 {
    font-family: Bahnschrift;
    font-size: 60px;
}

header {
    height: 50px;
    background-color: #2f897b;
}

header a{
    color: #323333;
}

.hlinkLogin {
    padding-top: 12px;
    float: right;
    padding-right: 10px;
    padding-left: 20px;
}

/* Dropdown Button */
.dropbtn {
    padding-right: 10px;
    background-color: transparent;
    border: none;
}

.dropbtn:hover{
    text-decoration: overline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#vertList {
    display: inline-block;
    float: right;
    list-style-type: none;
}

.infoH {
    font-family: Bahnschrift;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
}

.infoT {
    margin: 0px 20px;
    font-size: 20px;
    text-align: justify;
}

main {
    min-height: 550px;
    text-align: center;
}

/*nav {
    width: 15%;
    float: left;
    text-align: left;
    min-height: 550px;
}*/
/*nav ul {
        list-style-type: none;
        padding-left: 5px;
    }*/

.navBig {
    width: 15%;
    float: left;
    text-align: left;
    min-height: 550px;
}
    .navBig ul {
        list-style-type: none;
        padding-left: 5px;
    }
    

content {
    min-height: 650px;
    width: 85%;
    float: right;
    border-left: 2px solid #2f897b;
    /*border: 1px solid yellow;*/
}

footer {
    height: 46px;
    clear: both;
    border-top: 1px solid #808080;
    background-color: #b6b6b6;
    text-align: right;
    padding: 10px;
}

#tblWords {
    margin: 10px auto;
    font-size: 14px;
}

table {
    width: 80%;
}

td {
    font-family: Arial;
    padding: 10px;
    border: 1px solid #808080;
    text-align: center;
    font-size: 14px;
}

th {
    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 3px solid #2f897b;
    text-align: center;
}

#tableReg {
    margin: auto;
    margin-top: 5%;
    border: 1px solid #808080;
    width: auto;
}

#tableReg td{
    font-size: large;
    padding: 10px 10px;
    text-align: left;
    border: none;
}

#btnLoginSub {
    background-color: rgba(0, 184, 9, 0.5);
    width: 100%;
}

#btnLoginRes {
    background-color: rgba(255, 9, 9, 0.2);
    width: 100%;
}

input {
    border: none;
    background-color: rgba(47, 137, 123, 0.2);
}

.listNav {
    font-size: 20px;
    padding-bottom: 10px;
}

.subListNav {
    /*display: none;*/
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 10px;
}

a {
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
    text-decoration: overline;
}

footer a {
    padding: 0px 20px;
}

td a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.menuIcon{
    display: none;
}

.indexImg {
    width: 100%;
}


@media (max-width: 1000px){
    
    content {
        min-width: 100%;
        border-top: 2px solid #2f897b;
        border-left: none;
    }
    
    .menuIcon {
        width: 50px;
        display: unset;
        opacity: 0.7;
    }
    .menuIcon:hover {
        cursor: pointer;
    }

    /*nav {
        display: none;
    }*/

    .navBig {
        display: none;
    }

    .navSmall {
        text-align: center;
    }
        .navSmall ul {
            padding-left: unset;
            list-style-type: none;
        }

    .subListNav {
        padding-left: unset;
    }

}
