﻿@model List<Vokabeltrainer_BennyLukas.Models.Word>
    @using Vokabeltrainer_BennyLukas.Models;
    @{
        ViewBag.Title = "Index";
    }
<h1>Öffentliche Vokabeln</h1>

    @if ((Model != null) && (Model.Count >= 1))
    {
        <table id="tblWords">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="tblEG">Englisch</th>
                    <th class="tblEG">Deutsch</th>
                    <th>Notiz</th>
                    <th>Erstellungsdatum</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Word w in Model)
                {
                <tr>
                    <td>@w.ID</td>
                    <td class="tblEG">@w.Vocab</td>
                    <td class="tblEG">@w.Translation</td>
                    <td>@w.Note</td>
                    <td>@w.CreationDate</td>
                    <td>@w.Genre</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span>Es sind keine Einträge vorhanden!</span>
    }
@{
    ViewBag.Title = "Index";
}

