﻿@model List<Vokabeltrainer_BennyLukas.Models.Word>
@using Vokabeltrainer_BennyLukas.Models;
@{
    ViewBag.Title = "RegisteredUserVocablist";
}
<h1>Meine Liste</h1>

@if ((Model != null) && (Model.Count >= 1))
{
    <table id="tblWords">
        <thead>
            <tr>
                <th>ID</th>
                <th class="tblEG">Englisch</th>
                <th class="tblEG">Deutsch</th>
                <th>Notiz</th>
                <th>Erstellungsdatum</th>
                <th>Genre</th>
                <th>Optionen</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Word w in Model)
            {
                <tr>
                    <td>@w.ID</td>
                    <td class="tblEG">@w.Vocab</td>
                    <td class="tblEG">@w.Translation</td>
                    <td>@w.Note</td>
                    <td>@w.CreationDate</td>
                    <td>@w.Genre</td>
                    <td>@Html.ActionLink("Löschen", "DeleteRegisteredUserVocab/"+w.ID, "Word")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>Es sind keine Einträge vorhanden!</span>
}
@{
    ViewBag.Title = "RegisteredUserVocablist";
}

