﻿@model Vokabeltrainer_BennyLukas.Models.Word

@using (Html.BeginForm())
{
    <table id="tableReg">
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(w => w.Vocab, "Vokabel: ")
                </td>
                <td>
                    @Html.TextBoxFor(w => w.Vocab)
                </td>
                <td>
                    @Html.ValidationMessageFor(w => w.Vocab)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(w => w.Translation, "Übersetzung: ")
                </td>
                <td>
                    @Html.TextBoxFor(w => w.Translation)
                </td>
                <td>
                    @Html.ValidationMessageFor(w => w.Translation)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(w => w.Note, "Notiz: ")
                </td>
                <td>
                    @Html.TextBoxFor(w => w.Note)
                </td>
                <td>
                    @Html.ValidationMessageFor(w => w.Note)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(w => w.CreationDate, "Datum: ")
                </td>
                <td>
                    @Html.TextBoxFor(w => w.CreationDate, new { type = "date" })
                </td>
                <td>
                    @Html.ValidationMessageFor(w => w.CreationDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(w => w.Genre, "Genre: ")
                </td>
                <td>
                    @Html.TextBoxFor(w => w.Genre)
                </td>
                <td>
                    @Html.ValidationMessageFor(w => w.Genre)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset" value="Abbrechen" id="btnLoginRes" />
                </td>
                <td>
                    <input type="submit" value="Weiter" id="btnLoginSub" />
                </td>
            </tr>
        </tbody>
    </table><br /><br />
}

