﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="pagebegin">
        <header>
            <div>
                @Html.Partial("Header")
            </div>
        </header>
        <main>
            <div class="navBig">
                <nav>
                    @Html.Partial("Navigation")
                </nav>
            </div>
            <content>
                @RenderBody()
            </content>
        </main>
        <footer>
            @Html.Partial("Footer")
            <a href="#pagebegin">Zurück zum Seitenanfang</a>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>
