﻿<img src="~/Content/Images/menu.png" class="menuIcon" onclick="responsiveMenu()"/>

<ul id="vertList">
    @if (Session["loggedInUser"] != null)
    {
        Vokabeltrainer_BennyLukas.Models.User u = ((Vokabeltrainer_BennyLukas.Models.User)(Session["loggedInUser"]));

        <li class="hlinkLogin">@Html.ActionLink("Abmelden", "logout", "user")</li>
        <li class="hlinkLogin">
            <div class="dropdown">
                <button class="dropbtn">@u.Firstname</button>
                <div class="dropdown-content">
                    @Html.ActionLink("Profil bearbeiten", "update", "user")
                    @Html.ActionLink("Abmelden", "logout", "user")
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="hlinkLogin">@Html.ActionLink("Anmelden", "login", "User")</li>
    }
</ul>


