﻿<ul>
    <li class="listNav">@Html.ActionLink("Info", "index", "home")</li>
    <li class="listNav">@Html.ActionLink("Vokabelliste", "index", "word")</li>
    <li class="listNav">@Html.ActionLink("Meine Liste", "registereduservocablist", "word")</li>
    <li class="subListNav">@Html.ActionLink("Vokabel hinzufügen", "addRegistereduservocab", "word")</li>
    <li class="listNav">@Html.ActionLink("Trainingsbereich", "index", "trainings")</li>
</ul>
