﻿@model Vokabeltrainer_BennyLukas.Models.Word
@using Vokabeltrainer_BennyLukas.Models
@{
    ViewBag.Title = "Index";
}

<h2>Wortauswahl</h2>
@using (Html.BeginForm())
{
    if (Session["loggedInUser"] != null)
    {
        <table id="tableReg">
            <tbody>

                <tr>                   
                    <td>
                        @Html.Label("Wortauswahl: ")
                    </td>

                    <td>
                        @Html.TextBox("auswahl", Model)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Eigene Vokabelliste verwenden?")
                    </td>
                    <td>
                        @Html.CheckBox("isChecked", false)
                    </td>             
                </tr>
                <tr>
                    <td>
                        <input type="reset" value="Abbrechen" id="btnLoginRes" />
                    </td>
                    <td>
                        <input type="submit" value="Weiter" id="btnLoginSub" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <table id="tableReg">
            <tbody>
                <tr>
                    <td>
                        @Html.Label("Wortauswahl: ")    
                    </td>
                    <td>
                        @Html.TextBox("auswahl", Model)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="reset" value="Abbrechen" id="btnLoginRes" />
                    </td>
                    <td>
                        <input type="submit" value="Weiter" id="btnLoginSub" />
                    </td>
                </tr>
            </tbody>
        </table>  
    }
}