﻿@model Vokabeltrainer_BennyLukas.Models.Test
@using Vokabeltrainer_BennyLukas.Models
@{
    ViewBag.Title = "Test";
}


@using (Html.BeginForm())
{
    <table id="tableReg">
        <tbody>
            <tr>
                <td class="tblEG">Deutsch</td>
                <td class="tblEG">Englisch</td>
            </tr>
            @foreach (Word w in Model.TestSolution)
            {
                <tr>
                    <td>
                        @Html.Label(w.Translation)
                    </td>
                    <td>
                        <form method="post">
                            <input type="text" name="TestResult" value="" />
                        </form>
                    </td>

                </tr>
            }
            <tr>
                <td>
                    <input type="reset" value="Abbrechen" id="btnLoginRes" />
                </td>
                <td>
                    <input type="submit" value="weiter" id="btnLoginSub" />
                </td>
            </tr>
        </tbody>
    </table>

}

